
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset********************* */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration-style: none;
}
/* ********************* */
body {
    overflow-x: hidden;
}

:root {
    --bg-blue: #4473DE;
    --bg-magenta: #C644DE;
    --bg-green: #0AFF8D;
}

/* colours********************* */
.blue {
    color: var(--bg-blue);
}

.magenta {
    color: var(--bg-magenta);
}

.green {
    color: var(--bg-green);
}

.bg-blue {
    background: var(--bg-blue);
}

.bg-magenta {
    background: var(--bg-magenta);
}

.bg-green {
    background: var(--bg-green);
}
/* ********************* */
.section-hero {
    height: 100vh;
}
.section-hero_bg-img {
    background-image: url("./bg-hero.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.circle {
    position: absolute;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    z-index: -1;
}
.p-width {
    max-width: 500px;
}

.icon {
    transition: color 0.3s ease-out;
}

.icon:hover {
    color: var(--bg-green);
}
